<html>
  <style>
    @import
    url('https://fonts.googleapis.com/css2?family=Inter&family=Sacramento&display=swap');
  </style>
  <head>
    <title style="font-family: 'Inter', sans-serif;">
      Welcome to the Gym Notes Family - You're on the List!
    </title>
  </head>
  <div>
    <table align="center" style="text-align:center; background-color: #ffffff;">
      <tr>
        <td align="center" style="text-align:center">
          <img
            width="50%"
            height="50%"
            src="https://gymnotes.anisolelabs.com/images/gym-notes-twitter-header.png"
          />
        </td>
      </tr>

      <tr>
        <td align="center" style="text-align:left">
          <div
            style="
              font-family: 'Inter', sans-serif;
              font-size: 16px;
              line-height: 1.5;
              margin: 0 auto;
              max-width: 600px;
              padding: 20px;
            "
          >
            <p>Hello</p>
            <p>
              Thank you for signing up to join the waitlist for 
              Gym Notes - the ultimate workout tracker that's about 
              to revolutionize your fitness journey!
            </p>

            <p>
              We are thrilled to have you on board and can hardly wait to 
              share our passion for fitness and technology with you. 
              Your spot on the waitlist has been secured, and you are one 
              step closer to taking your gym sessions to the next level.
            </p>

            <p>
              We are working hard to bring Gym Notes to life, and we will 
              keep you updated on our progress. In the meantime, we encourage 
              you to spread the word about Gym Notes to your friends and 
              family. The more people we have on board, the better we can 
              make Gym Notes for everyone!
            </p>

            <br />
            <p>
              Best Regards,
              <br />
              The Team at Gym Notes
            </p>

            <br />
            <p>
              <span
                style="
                  font-family: 'Inter', sans-serif;
                  font-size: 12px;
                  font-style: italic;
                "
              >
                P.S. This is an automated email; replies to this email will not
                be monitored or answered.
              </span>
            </p>
          </div>
        </td>
      </tr>
    </table>
  </div>
</html>